@import "../shared";

.node.active {
  stroke-width: 2;
  stroke: #000;
}

text {
  pointer-events: none;
}

.text.secondary {
  visibility: hidden;
}

.text.secondary.active {
  visibility: initial;
}
