@import "../shared";


#topBar {
    position: relative;
    padding: 20px 0 30px 0;
    width: 100%;
    // background-color: rgba($blue, 0.15);
    text-align: center;
    // border-bottom: 1px solid rgba(grey, 0.3);

    #search-bar-advanced {
        float:left;
        text-decoration: none;
        color: #1890FF

    }

    #search-bar-container, #query-builder-container {
        position: relative;
        margin: auto;
    }

    #search-bar-container {
    }


    $title-width: 15%;
    #title {
        color: $blue;
        font-size: 58px;

        #E { color: $orange; }

        &:hover { cursor: pointer; }
    }
}
