/* --------------- Colors --------------- */
/* --------------- Lengths --------------- */
/* --------------- Query Panel --------------- */
.search-bar-button-style {
  border: 1px solid rgba(1, 136, 203, 0.8);
  color: white;
  background: #0188cb;
  cursor: pointer; }
  .search-bar-button-style:hover {
    background-color: #1278d1; }

.switch-mode-button-style {
  border: 2px solid rgba(1, 136, 203, 0.8);
  cursor: pointer;
  color: #0188cb;
  -webkit-transition-duration: 0.2s;
  /* Safari */
  transition-duration: 0.2s; }
  .switch-mode-button-style:hover {
    background-color: #0188cb;
    color: white; }

.banner {
  display: inline-block;
  position: relative;
  margin-top: 7px;
  margin-left: 20px;
  width: 100%;
  height: 56px;
  background-color: #ffffff; }
  .banner .banner-title {
    color: #0188cb;
    font-size: 50px; }
    .banner .banner-title .E {
      color: #f49541; }

.display-page {
  position: relative;
  width: 90%;
  left: 5%;
  right: 2%; }
  .display-page .brat-intro,
  .display-page .report-info,
  .display-page .report-keywords,
  .display-page .report-section {
    width: 100%;
    margin-bottom: 20px; }
  .display-page .brat-intro {
    margin-top: 10px;
    font-size: 170%;
    padding-right: 30px;
    border-bottom: 2px solid rgba(1, 136, 203, 0.8);
    padding: 10px 0; }
    .display-page .brat-intro svg {
      margin-right: 15px;
      font-size: 90%; }
    .display-page .brat-intro .report-id {
      color: #f49541; }
  .display-page .report-plain-text {
    padding: 20px 0;
    border-bottom: 2px solid rgba(1, 136, 203, 0.8); }
    .display-page .report-plain-text .highLight {
      background-color: rgba(244, 149, 65, 0.7);
      padding: 1px 5px;
      border-radius: 2px; }
  .display-page .report-info {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .display-page .report-info .report-info-block {
      margin-top: 10px;
      margin-bottom: 10px;
      height: 100%;
      width: 50%; }
    .display-page .report-info .table-row {
      margin-top: 3px;
      margin-bottom: 3px;
      width: 100%;
      height: 25%; }
    .display-page .report-info .table-title {
      width: 25%;
      text-align: right;
      vertical-align: top;
      font-weight: bold;
      padding-right: 2px; }
    .display-page .report-info .table-content {
      width: 75%;
      text-align: left;
      vertical-align: top;
      padding-left: 2px; }
  .display-page .report-section {
    border-bottom: 2px solid rgba(1, 136, 203, 0.8);
    margin-top: 20px;
    margin-bottom: 20px; }
    .display-page .report-section .report-section-title {
      margin: 20px 0 0 0; }
    .display-page .report-section .report-content {
      margin: 10px 0 20px 20px; }
  .display-page .graph-container {
    position: relative;
    width: 80%;
    max-width: 500px;
    margin: auto;
    border: 1px solid #dedede; }
  .display-page .subgraph-container {
    position: relative;
    width: 80%;
    max-width: 200px;
    margin: auto;
    border: 1px solid #dedede; }
  .display-page .brat-container {
    width: 100%; }

.loading-container {
  overflow: show;
  position: relative;
  top: 20%;
  left: 20%;
  font-size: 150px;
  color: #f49541;
  z-index: 9999; }

.aff {
  font-size: 10px; }

.aff-item {
  margin: 0; }

/*# sourceMappingURL=DisplayPage.css.map */
