@import "../shared";

$display-section-border: 2px solid rgba($blue, 0.8);
.banner{
  display: inline-block;
  position: relative;
  margin-top: 10px;
  margin-left: 20px;
  width: 100%;
  height: 56px;
  background-color: #ffffff;
  .banner-title{
    color: #0188cb;
    font-size: 50px;

    .E{
      color: #f49541;
    }
  }

}
.display-page {
  position: relative;

    .brat-intro,
    .report-info,
    .report-keywords,
    .report-section,
    .brat-container {
        position: relative;
        width: 90%;
        left: 5%;
        margin-bottom: 20px;
    }

    .brat-intro {
        margin-top: 10px;
        font-size: 170%;
        padding-right: 30px;
        border-bottom: $display-section-border;
        padding: 10px 0;

    svg {
      margin-right: 15px;
      font-size: 90%;
    }

    .report-id {
      color: $orange;
    }
  }

    .report-plain-text {
        padding: 20px 0;
        border-bottom: $display-section-border;

        .highLight {
          background-color: rgba($orange, 0.7);
          padding: 1px 5px;
          border-radius: 2px;
        }
      }

    .report-info{
      width: 100%;
      display: flex;
      justify-content: space-between;

      .report-info-row,{
        margin-top: 10px;
        margin-bottom: 10px;

        height: 100%;
        width: 50%;
      }

      .report-info-item {
        margin-top: 3px;
        margin-bottom: 3px;
        width: 100%;
        height: 25%;
      }
    }




    .report-section{
      border-bottom: $display-section-border;
      margin-top: 20px;
      margin-bottom: 20px;

      .report-section-title {
        margin: 20px 0 0 0;
      }

      .report-content {
        margin: 10px 0 20px 20px;
      }

    }
    .graph-container {
      position: relative;
      width: 80%;
      max-width: 500px;
      margin: auto;
      border: 1px solid #dedede;
    }
    .subgraph-container {
      position: relative;
      width: 50%;
      max-width: 500px;
      margin: auto;
      border: 1px solid #dedede;
    }

}
.loading-container {
    overflow: show;
    position: relative;
    top: 20%;
    left: 20%;
    font-size: 150px;
    color: $orange;
    z-index: 9999;

}

.banner-img{
  margin-top: 10px;
}
